<div class="row">
  
   <div class="col-md-4">
     <%= image_tag "avalon.png", size: "300x250" %> 
     <p>
       This site will choose character for you and send information that you need
     </p>
   </div>
	 
   <div class="col-md-8">
     <% if current_user %>
       <div class="row">
         <%= render partial: 'current_user' %>
	 <h2>
	   <%= link_to "Join",list_games_path,class:"btn btn-large btn-primary" %>
	 </h2>
       </div>
       <div class="row">
         <h2>
           <%= link_to "Create",open_games_path,class:"btn btn-large btn-primary" %>
         </h2>
       </div>	 
     <% else %>
       <%= render partial: 'sign_in' %>
     <%end%>

   </div>
</div>
