<% content_for :head do %>
  <% render partial: 'jumbo' %>
<%end%>

<% content_for :main do %>

<% if current_user %>
   <%= link_to "Sign out", signout_path, id: "sign_out" %>
   <%= image_tag current_user.image %>
   <%= current_user.name %>

   <div class="col-md-6">
    <%= render partial: 'new_game_form' %>
  </div>

<%else%>    
     <h2><%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary btn-lg" %></h2>
<%end%>

   
  <div class="col-md-6">
    <% for game in @opengames do %>
    <div class="row">

         <div class="col-md-1"> 
	  <%= game.id %>
	</div>
	 <div class="col-md-1"> 
	  <%= image_tag game.user.image %>
	 </div>
     <% for player in Game.find(game.id).players do %>
       <div class="col-md-1">
         <%= image_tag User.find(player.user_id).image %>
       </div>
     <% end %>.

	 <div class="col-md-7">
	   <%= link_to "Join", join_game_path(game), id: "join", class: "btn btn-primary btn-lg",method: "post"   %>
	   </div>
      </div>	
    <% end %>
  </div>  
<% end %>
