<% if not current_user %>
  <% content_for :head do %>
    <%= render partial: 'jumbo' %>
  <%end%>
<% end %>

<% content_for :main do %>
   <div class="row">

     <div class = "col-md-1">
       <%= image_tag current_user.image %>
     </div>
     
     <div class="col-md-1">
       <%= image_tag   @game.user.image %>
       <%= @game.status %>
     </div>


     <%= render partial: 'start_button' %>

     
     <% for player in @game.players do %>
       <div class="col-md-1">
         <%= image_tag User.find(player.user_id).image %>
       </div>
     <% end %>.

   </div>

   <div class="row">
     
     <% (0..@variant.oznake.size-1).each do |i| %>
      <div class="col-md-2">
          <% cha = Character.get(@variant.oznake[i])%>
	  
          <div id='<%="cha#{cha.oznaka}"%>'>
            <%= image_tag cha.image %>
	    <%= image_tag @game.who_is(cha.oznaka) %>
	   </div>
      </div>
      <% end %>
    </div>

   <% end %>

   <% if @game.status == 1 %>   

   <% content_for :what_i_know do %>
   <% c = Character.get(@Iam) %>
   <%= "You are #{c.name}" %>
   <%= image_tag c.image %>
   
   <% if @Iam == "A"%>
      Bad gays are 
      <% @game.minions.each do |bad| %>
        <%= image_tag User.find(bad).image %>
      <% end %>
   <% end %>

   <% if @Iam == "G" %>
   You have no clue who is who?
   <% end %>
   
   <% if ["B", "H","E"].include?(@Iam) %>
      We are the power!!
      <% @game.minions.each do |bad| %>
        <%= image_tag User.find(bad).image %>
      <% end %>
   <% end %>

   <% if "C" ==  @Iam %>
      You know of Merlin
      <% @game.who_is("A").each do |merlin| %>
        <%= image_tag User.find(merlin).image %>
      <% end %>
      <% @game.who_is("E").each do |morgana| %>
        <%= image_tag User.find(morgana).image %>
      <% end %>
   <% end %>

   <% if "D" ==  @Iam %>
      Merlin can't see you, and these are your minions.
      <% @game.minions.each do |bad| %>
        <%= image_tag User.find(bad).image %>
      <% end %>
 
   <% end %>
      
<% end %>
<% end %>   

   
