<% content_for :main do %>
   <div class="row current_user">

     <div class = "col-md-12">
       <div class="row">

	 <div class="col-md-6">
	   <%= render partial: 'current_user' %>
	    </div>
	    
	    <div class="col-md-6">
	      <%= render partial: 'buttons' %>
	    </div>
       </div>
     </div>
   </div>
   
     <div class="row players">
       <div class="col-md-1 game_owner">
	 Game owner
       <%= image_tag   @game.user.image_file %>
     </div>




       <div class="col-md-1">
	 Players waiting ...
       </div>
     
       <% for player in @game.players do %>

       <div class="col-md-1">
         <%= image_tag User.find(player.user_id).image_file %>
       </div>
     <% end %>

   </div>

   <div class="row">
     
     <% (0..@variant.oznake.size-1).each do |i| %>
      <div class="col-md-2">
          <% cha = Character.get(@variant.oznake[i])%>
	  
          <div id='<%="cha#{cha.oznaka}"%>'>
            <%= image_tag cha.image %>
	   </div>
      </div>
      <% end %>
    </div>

   <% end %>

   <% if @game.status == 1 %>   

   <% content_for :what_i_know do %>

   <% c = Character.get(@Iam) %>
   <%= "You are #{c.name}" %>
   <%= image_tag c.image  %>
   
   <% if @Iam == "A"%>
     <%= render partial: 'merlin' %>
   <% end %>

   
   <% if ["G","F"].include?(@Iam)  %>
   You have no clue who is who?
   <% end %>

   
   <% if ["B", "H","E"].include?(@Iam) %>
      We are the power!!
      <% @game.minions.each do |bad| %>
      <% user = User.find(bad) %>
        <%= image_tag user.image_file,alt: user.name %>
      <% end %>
   <% end %>

   <% if "C" ==  @Iam %>
      You know of Merlin
        <% user = User.find_by_id(@game.who_is("A")) %>
	<% if user %>
        <%= image_tag user.image_file, alt: user.name  %>
	<%end %>

        <% user = User.find_by_id(@game.who_is("E")) %>
	<% if user %>
        <%= image_tag user.image_file, alt: user.name %>
	<%end%>
   <% end %>

   <% if "D" ==  @Iam %>
      Merlin can't see you, we are the power.
        <% @game.minions.each do |bad| %>
	<% user = User.find(bad) %>
        <%= image_tag user.image_file, alt: user.name %>
      <% end %>
 
   <% end %>
      
<% end %>
<% end %>   

   
